@import "variables";
@import "media";
@import "https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap";

//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family: $font-vietnam;
    padding-top: 60px;

}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
//reset

.button{
    border-radius: 20px;
    padding: 12px 20px;
    display: inline-block;
    &-primary{
        background-color: $color-naranja;
        color:$color-blanco;  
    }
}

p{
    color: $color-parrafo;
    line-height: 1.8rem;
}


.header{
    max-width: $max-width;
    width: 95%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    .header__navigation{
        .header__links{
            display: flex;
            gap: 2rem;
            a{
                color: $color-dark-blue;
                font-weight: 700;
            }
        }
    }
}   


.section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: $max-width;
    width: 95%; 
    padding: 0 1.5rem;

   
    .section1__column11{
        background-color: aquamarine;
        width: 50%;
        padding-top: 150px;
        h1{
            font-size: 60px;
            font-weight: bold;
            padding-right: 12rem;
            margin-bottom: 2rem;
        }
        p{
            padding-right: 50%;
            margin-bottom: 2rem;
        }
    }
    .section1__column12{
        background-color: rgb(75, 151, 151);
        width: 50%;
        padding-top: 100px;
        img{
            max-width: 100%;
        }
    }
    .section1__column21{
        background-color: rgb(168, 149, 185);
        width: 50%;
        
        h1{
            font-size: 40px;
            font-weight: bold;
            padding-right: 12rem;
            margin-bottom: 2rem;
            margin-top: 10%;
        }
        p{
            padding-right: 50%;
        }
        
    }
    .section1__column22{
        background-color: coral;
        width: 50%;
        
    }    
}


.contenedor1{
    border: 2px solid black;   
    margin: 20px;
    margin-top: 10%;
    .bot1{
        display: flex;
        flex-flow: row, wrap;
        align-items: center;
        gap: 1.5rem;
        button{
            background-color: $color-naranja;
            padding: 8px 20px;
            border-radius: 15px;
            border: none;
            color: $color-texto-boton;
            font-size: 20px;
            font-weight: 700;
        }
        h2{
            font-weight: bold;
        }
    }
    .p1{
      margin-left: calc(60px + 1.5rem);
    }
}



